a.sidebar__item,
a.sidebar__item:hover,
a.sidebar__item:visited {
  display: block;
  text-decoration: none;
  color: #ccc;
  transform: rotate(180deg);
  text-transform: uppercase;
  letter-spacing: 0.14em;
  writing-mode: vertical-lr;
}

a.sidebar__item--active,
a.sidebar__item--active:active,
a.sidebar__item--active:hover {
  color: var(--primary);
}
