a.sidebar-item,
a.sidebar-item:hover,
a.sidebar-item:visited {
  display: block;
  text-decoration: none;
  color: #ccc;
  transform: rotate(-90deg);
  padding: 1.5rem 0;
}

a.sidebar-item--active,
a.sidebar-item--active:active,
a.sidebar-item--active:hover {
  color: var(--primary);
}
