h1 {
  font-size: 3.94rem;
  font-weight: var(--fw-primary-bold);
}

h2 {
  font-size: 2.67rem;
  font-weight: var(--fw-primary);
}

h3 {
  font-size: 1.5rem;
  font-weight: var(--fw-primary-bold);
}

h4 {
  font-size: 1.25rem;
  font-weight: var(--fw-secondary);
  font-family: var(--ff-secondary);
}

h5 {
  font-size: 1rem;
  font-weight: var(--fw-primary);
}

h6 {
  font-size: 1rem;
  font-weight: var(--fw-primary);
}
