<div class="container">
  <form class="flex task-form">
    <label class="task-form__element-header rel mar-5">
      DESCRIPTION<input
        type="text"
        name="description"
        placeholder="Enter Task"
      />
    </label>
    <fieldset class="flex mar-5">
      <legend class="task-form__element-header">WHEN</legend>
      <div class="radio-wrapper flex">
        <input class="radio__input" type="radio" name="date" id="date_1" />
        <label for="date_1">Today</label>
        <input class="radio__input" type="radio" name="date" id="date_2" />
        <label for="date_2">Tomorrow</label>
        <input class="radio__input" type="radio" name="date" id="date_3" />
        <label class="radio__select-date" for="date_3">Select Date</label>
      </div>
    </fieldset>
    <input type="submit" value="Add Task" id="add-task-btn" />
    <label for="add-task-btn" class="visually-hidden">Add Task</label>
  </form>
</div>
