<form class="task-form">
  <ul>
    <li>
      <label for="description">
        DESCRIPTION<input
          id="description"
          type="text"
          name="description"
          placeholder="Enter Task"
        />
      </label>
    </li>
    <li>
      <fieldset>
        <legend>WHEN</legend>
        <p>
          <input type="radio" name="date" id="date_1" />
          <label for="date_1">Today</label>
        </p>
        <p>
          <input type="radio" name="date" id="date_2" />
          <label for="date_2">Tomorrow</label>
        </p>
        <p>
          <input type="radio" name="date" id="date_3" />
          <label for="date_3">Select Date</label>
        </p>
      </fieldset>
    </li>
    <li>
      <input type="submit" value="Add Task" id="add-task-btn" />
      <label for="add-task-btn">Add Task</label>
      <!-- hide label -->
    </li>
  </ul>
</form>
