.taskItem__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.taskItem__label {
  padding: 2rem 1.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.075rem;
  background-color: #fbfbfb;
  position: relative;
}

.taskItem__label--checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 5%;
  border-bottom: 2px solid var(--primary);
}

.taskItem__label2--checked::after {
  content: "";
  position: absolute;
  top: 38%;
  left: 0;
  right: 5%;
  border-bottom: 2px solid var(--primary);
}

.taskItem__label2--checked::before {
  content: "";
  position: absolute;
  bottom: 36%;
  left: 0;
  right: 45%;
  border-bottom: 2px solid var(--primary);
}

/* Problem: Not true responsive and width of second stike-line must be calculated ... think about better solution future me! */

.linebreak-simulator {
  width: 300px;
}
